
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

.figure {
  border: 1px solid #000000;
}

.customMessage {
  position: absolute;
  right: 300px;
  top: 0px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/* rate bitcoin */

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 80%;
  min-height: 35rem;
  background-color: rgb(214, 175, 169);
  border-radius: 30% 30% 20px 20px;
  border: 2px solid rgb(124, 106, 124);
  font-size: 25px;
  color: #6e3535;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rate1 {
  border: 2px solid rgb(128, 93, 93);
  border-radius: 20px;
  width: 90%;
  background-color: #8b7560;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rate2 {
  border: 2px solid rgb(187, 134, 134);
  border-radius: 20px;
  width: 90%;
  background-color: #8b7560;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rate3 {
  border: 2px solid rgb(128, 93, 93);
  border-radius: 20px;
  width: 90%;
  background-color: #8b7560;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rate4 {
  border: 2px solid rgb(128, 93, 93);
  border-radius: 20px;
  width: 90%;
  background-color: #8b7560;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-p {
  color: #520404;
}

.close-block {
  position: absolute;
  right: 1%;
  top: 53%;
}
.close-block:hover {
  cursor: pointer;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}
.context-menu {
  position: absolute;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);

  border: 1px solid #16278a;
  list-style-type: none;
  padding: 3px;
  margin: 3px;
  border-radius: 20px;
  display: none;
}

.context-menu li {
  padding: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.context-menu li:hover {
  background-color: #0cf;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.figure {
  width: 200px;
  height: 100px;
  background: red;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}
